{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<h1>Crypto's Trading Platforms</h1>

<div class="boxesContainer">
  <div class="cardBox">
    <div class="card">
      <div class="front">
        <h3>1. WazirX</h3>
      </div>
      <div class="back">
        <p>WazirX is India’s most trusted Bitcoin exchange.It offers you a trading experience across all platforms viz
          on Web, Android, iOS etc. WazirX has created a token for itself called WRX, and There will be a maximum of 1
          Billion WRX coins ever produced.</p>
        <a href="https://wazirx.com/">More Info.!</a>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
        <card
          data-image="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
        </card>
        <h3> 2. CoinSwitch </h3>
      </div>
      <div class="back">

        <p>CoinSwitch Kuber is a stable and user-friendly crypto trading site for users in India. It's users can access
          the combined liquidity of India's leading cryptocurrency exchanges to get the best offer and trade
          instantaneously after finishing KYC/AML procedures</p>
        <a href="https://coinswitch.co/">More info.!</a>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 3. CoinDcx </h3>
      </div>
      <div class="back">
        <p>CoinDcx is one of the world’s most versatile crypto exchange platforms, allowing you to trade in 200+ coins
          with the highest liquidity. It has a simple and convenient user interface that supports limitless trading on
          the CoinDcx exchange platform.</p>
        <a href="https://coindcx.com/">More Info.!</a>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="card">
      <div class="front">
        <h3> 4. ZebPay </h3>
      </div>
      <div class="back">
        <p>ZebPay has served over 3 million members since 2014. The interface of the exchange is clean, intuitive and
          simple with advanced trading features. You can trade across five crypto-crypto pairs with zero deposit fees.
          It has multi-layered security protocols to protect the privacy and data of the user.</p>
        <a href="https://zebpay.com/in/">More Info.!</a>
      </div>
    </div>
  </div>


  <div class="cardBox">
    <div class="card">
      <div class="front">
        <h3>5. Unocoin </h3>
      </div>
      <div class="back">

        <p>Unocoin is India’s first entrant in the Bitcoin space. The platform helps the user to buy, sell, and exchange
          digital assets.</p>
        <a href="https://www.unocoin.com/in">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 6. Coinmama</h3>
      </div>
      <div class="back">

        <p>Coinmama allows customers in almost every country to buy bitcoin. They charge a 4.9%-5.9% (depends on volume)
          fee on each purchase.</p>
        <a href="https://buybitcoinww.co/CoinMama_Crypto">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 7. Paybis </h3>
      </div>
      <div class="back">

        <p>Paybis is a popular & cryptocurrency exchange. They serve 180 countries and 48 US states and are registered
          with FinCEN, making them a more trusted, regulated exchange. Paybis offers incredibly high limits and super
          fast payouts, not to mention 5 minute ID verification and nearly perfect review scores on Trustpilot</p>
        <a href="https://buybitcoinww.co/Paybis">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 8. Airtm </h3>
      </div>
      <div class="back">
        <p>Airtm offers a peer community. You can buy and sell dollars or crypto in exchange for other forms of value.
          The platform provides trust and transparency by authenticating users and establishing a higher degree of
          identity validation to the peers who facilitate the transactions. Airtm provides an escrow system</p>
        <a href="https://www.airtm.com/en/">More Info.!</a>
      </div>
    </div>
  </div>

<h2>Stock's Trading Platforms</h2>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 1. Zerodha </h3>
      </div>
      <div class="back">
        <p>Zerodha is the largest and most trusted discount broker with a user base of more than 30 Lakh. The biggest reason for Zerodha’s success is its customer support which is better than all other discount brokers. </p>
        <a href="https://zerodha.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 2. Upstock </h3>
      </div>
      <div class="back">
        <p>Upstox is one of the best discount brokers in India due to cheap brokerage charges, advanced technology platforms, and high margins. Upstox charges a fixed brokerage of Rs. 20 per trade for intraday irrespective of the trading volume with free stock delivery.</p>
        <a href="https://upstox.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">


        <h3> 3. 5paisa </h3>
      </div>
      <div class="back">
        <p>5Paisa charges the lowest brokerage charges of flat Rs 10. per trade under the addon Ultra Trader pack. You can place a single trade worth crores and pay brokerage of just Rs 10 per trade.

        </p>
        <a href="https://www.5paisa.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 4. IIFL </h3>
      </div>
      <div class="back">
        <p>IIFL Securities Ltd (IIFL) is one of the biggest full-service stockbroker with more than 40 Lakh customer. IIFL Demat account is good for investors who need guidance and research support while making investment decisions.</p>
        <a href="https://www.indiainfoline.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 5. Angel Broking </h3>
      </div>
      <div class="back">
        <p>Angel broking is one of the oldest brokerage companies in India having 2.15 million broking accounts. Angel broking‘s customer care service is up to the mark. I recommend Angel Broking only if your Adhaar Card is linked with your mobile number.</p>
        <a href="https://www.angelbroking.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 6. Sharekhan </h3>
      </div>
      <div class="back">
        <p>Sharekhan is one of the leading online brokerage company having more than 20 Lakh customer base. Presently the company provides service from 3200 share shops across 541 cities.</p>
        <a href="https://www.sharekhan.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 7. ICICI Direct </h3>
      </div>
      <div class="back">
        <p>ICICI direct is one the largest stock brokerage company having more than 20 Lakh customers. ICICI Direct provides a wide range of services and investment options.</p>
        <a href="https://secure.icicidirect.com/">More Info.!</a>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="card">
      <div class="front">

        <h3> 8. HDFC Security </h3>
      </div>
      <div class="back">
        <p>HDFC security limited is a subsidiary of India’s largest private bank HDFC. HDFC securities provide a 3-in-1 account which integrates your saving account, trading account and the demat account.</p>
        <a href="https://www.hdfcsec.com/">More Info.!</a>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>

<script>
  VanillaTilt.init(document.querySelectorAll(".cardBox"), {
    max: 25,
    speed: 400,
    easing: "cubic-bezier(.05,.80,.60,.99)",
    perspective: 500,
    transition: true
  });
</script>






{% endblock body %}